<div class="register-box-menu clearfix">
  <ul>
    <li class="{{ step == 0 ? 'active' : ''}} clearfix step0li"><span class="number">1</span><a href="javascript:void(0);">{{'Basic Info'|__}}</a>
    </li>
    <li class="{{ step == 1 ? 'active' : ''}} clearfix step1li"><span class="number">2</span><a href="javascript:void(0);">{{'Photos'|__}}</a>
    </li>
    <li class="{{ step == 2 ? 'active' : ''}} clearfix step2li"><span class="number">3</span><a href="javascript:void(0);">{{'Interests'|__}}</a>
    </li>
    <li class="{{ step == 3 ? 'active' : ''}} clearfix step4li"><span class="number">4</span><a href="javascript:void(0);">{{'About Me'|__}}</a>
    </li>
    {#<li class="{{ step == 4 ? 'active' : ''}} clearfix step4li"><span class="number">5</span><a href="javascript:void(0);">{{'Personal Info1'|__}}</a>
    </li>
    <li class="{{ step == 5 ? 'active' : ''}} clearfix step5li"><span class="number">6</span><a href="javascript:void(0);">{{'Location'|__}}</a>&#123;&#35;<br/>&#35;&#125;
    </li>#}
    <li class="{{ step == 6 ? 'active' : ''}} clearfix step6li"><span class="number">5</span><a href="javascript:void(0);">{{'Social networks'|__}}</a>{#<br/>#}
    </li>
  </ul>
</div>
