<div id="footer">
    <div class="footer clearfix">
        <div class="copyright">
            <p>&copy; 2013, Vivarena, Inc. All Rights Reserved.</p>
        </div>
        <ul class="footer-menu clearfix">
            <li><a href="/terms">{{'Legal Terms'|__}}</a></li>
            <li><a href="/privacy">{{'Privacy'|__}}</a></li>
            <li><a href="/contact-us">{{'Contact Us'|__}}</a></li>
            <li><a href="#" class="shareThisLink" data-share-type="{{ shareType }}" title="Send to Vivarena users">
            <div class="share"></div>
            </a></li>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fc37cd05abf990c"></script>
            <!-- AddThis Button END -->
        </ul>
    </div>
</div>
