    <title>{{ _tag_meta_title ? _tag_meta_title : 'Sports Enthusiasts' }}</title>
    <meta name="title" content="{{ _tag_meta_title ? _tag_meta_title : 'Vivarena.com' }}"/>
    <meta name="keywords" content="{{ _tag_meta_keywords }}"/>
    <meta name="description" content="{{ _tag_meta_description }}"/>
    <meta property="og:title" content="Vivarena.com" />
    <meta property="og:description" content="The Largest Community of Athletes and Sports Enthusiastic" />
    <meta property="og:image" content="https://www.vivarena.com/img/logo.jpg" />
    <meta property="og:url" content="https://www.vivarena.com/" />

