<div id="footer">
    <div class="footer clearfix">
        <div class="footer-nav clearfix">
          <ul class="first-child">
            <li><a href="/about">{{'About Us'|__}}</a></li>
            <li><a href="/contact-us">{{'Contact Us'|__}}</a></li>
          </ul>
          <ul>
            <li><a href="/careers">{{'Careers'|__}}</a></li>
            <li><a href="/join-us">{{'Invite Your Contacts'|__}}</a></li>
          </ul>
          <ul>
            <li><a href="/privacy">{{'Privacy Policy'|__}}</a></li>
            <li><a href="/terms">{{'User Agreement'|__}}</a></li>
          </ul>
            <div class="follow-us clearfix">
                <p> {{'Follow us on:'|__}}</p>
                <a href="http://facebook.com/vivarena"  class="facebook"></a>
                <a href="http://twitter.com/vivarenanews" class="twitter"></a>
                <a href="http://www.linkedin.com/company/vivarena-com" class="in"></a>
                <a href="http://www.youtube.com/vivarenatv" class="utube" ></a>
            </div>
            <div class="share-container-big clearfix">
                <p> {{'Share:'|__}}</p>
                <!-- AddThis Button BEGIN -->
                <a class="share-big" href="#" title="Send to Vivarena users">
                <div class="share-big"></div>
                </a>
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-507c1f491d151ff8"></script>
                <!-- AddThis Button END -->
            </div>
        </div>
        <div class="copyright">&copy; 2013, Vivarena, Inc. All Rights Reserved.</div>
    </div>
</div>
