<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Vivarena.com</title>
</head>
<style type="text/css">
    body {
        width: 600px;
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial,sans-serif;
        font-size: 13px;
        color: #5F6062;
    }
    table {
        border: 0;
        border-collapse: collapse;
    }
    td {
        line-height: 15px;
    }
    td.content {
        padding: 20px;
    }
    td.content h3 {
        font-size: 18px;
        font-weight: bold;
    }
</style>
<body>

<table width="100%" cellspacing="0" cellpadding="0">
    <tr bgcolor="#315F8C">
        <td width="309" align="left"><img src="{{ server }}/img/elements/logo-small.png" alt="Vivarena.com"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" width="100%" class="content">
            {{ content_for_layout }}
        </td>
    </tr>
    <tr bgcolor="#315F8C">
        <td><br>&nbsp;&nbsp;&nbsp;Questions? Comments? Please write to us at info@vivarena.com<br><br></td>
    </tr>
</table>
</body>
</html>

