{{ html.css('pages/text.css') }}

<div id="middle" class="middle clearfix">
  <div class="search-block clearfix">
  </div>
  <div class="register-box contact-form">
    <div class="register-box-i clearfix">
      <div class="register-box-title">
        <h3>{{'Sobre Vivarena'|__}}</h3>
      </div>
      <div class="register-form">
        <p><Strong>Nuestra Misión</strong></p>

		<p>Simple y sencillo, nuestra meta es mejorar y enriquezer la experiencia de invertir y emprender por internet.</p>   

		<p>Creemos que la tecnología deberia server el fin de mejorar la experiencia de invertir. </p>

		<p>Creemos que todos deberíamos tener acceso a exelentes redes, oportunidades y consejos de inversión.</p>
 
		<p>Nos parece que el acceso a mejores oportunidades de inversión, asesoramiento, tecnología e información debería ser una experiencia social que es fortalecida y compartidad entre amigos y colegas cruzando fronteras y culturas.</p>

		<p>Esto es lo que vamos a construir, juntos.</p>

		<p><Strong>Nuestra Gente</Strong></p>

		<p>Nuestro equipo, asesores, e inversores vienen de diferentes partes del mundo, industrias y areas de finanza con más de 150 años de experience combinada en mercados financieros, manejo de capital, inversión, tecnología, mercadéo, y emprendimientos.</p>  

		<p>Somos exitosos emprendedores, inversionistas, profesionales, manejadoras de activos, tecnologistas, mercadores, padres, hijas, hermanos, amigos y ciudadanos sociales.</p>

		<p><Strong>Nuestros Miembros</Strong></p>

		<p>Nuestros miembros vienen de differentes areas, y valoran nuestro atención a los detalles, nuestro deseo constant de mantener las cosas simples, claras y fácil de usar.  Valoran nuestro proceso de transparencia y comparten nuestra visión de juntos ganar un nuevo poder colectivo en el mundo de las vivarena a través de experiencia social y colaboración.</p>

      </div>
      <div class="right-img">
        <div class="logo-contact clearfix">
          <img alt="" src="img/registration/logo-contact.jpg">
          <span class="border-left">&nbsp;</span>
          <span class="border-right">&nbsp;</span>
          <span class="border-bot">&nbsp;</span>
        </div>
      </div>
    </div>
    <span class="angle">&nbsp;</span>
    <span class="shadow-register">&nbsp;</span>
  </div>
</div>
