{{ html.css('pages/text.css') }}

<div id="middle" class="middle clearfix">
  <div class="search-block clearfix">
  </div>
  <div class="register-box contact-form">
    <div class="register-box-i clearfix">
      <div class="register-box-title">
        <h3>{{'Careers at Vivarena'|__}}</h3>
      </div>
      <div class="register-form">
        <p>Thank you for your interest in joining our team! Vivarena.com is always looking for talented and motivated individuals to be part of our team and contribute to our exciting project. Below is a list of opportunities that we are currently looking to fill. If you don’t see an area below but would like to join our group please <a href="/contact-us">contact us</a> with your resume including field of expertise and where we can contact you.</p>

      </div>
      <div class="right-img">
        <div class="logo-contact clearfix">
          <img alt="" src="img/registration/logo-contact.jpg">
          <span class="border-left">&nbsp;</span>
          <span class="border-right">&nbsp;</span>
          <span class="border-bot">&nbsp;</span>
        </div>
      </div>
    </div>
    <span class="angle">&nbsp;</span>
    <span class="shadow-register">&nbsp;</span>
  </div>
</div>
