{{ html.css('pages/text.css') }}

<div id="middle" class="middle clearfix">
  <div class="search-block clearfix">
  </div>
  <div class="register-box contact-form">
    <div class="register-box-i clearfix">
      <div class="register-box-title">
        <h3>{{'Carreras en Vivarena'|__}}</h3>
      </div>
      <div class="register-form">
        <p>Gracias por su interés en unirse a nuestro equipo! Vivarena.com siempre está buscando individuos de talento y motivados para ser parte de nuestro equipo y contribuir a nuestro proyecto exitánte.  A continuación hay una lista de posiciones que estamos presentemente buscando llenar.  Si no ve un área abajo pero gustaría trabajar con nosotros y ser parte de nuestro equipo por favor <a href="/contact-us">contáctanos</a> con su CV incluyendo su campo de especialización y donde podemos contactarlo.</p>

      </div>
      <div class="right-img">
        <div class="logo-contact clearfix">
          <img alt="" src="img/registration/logo-contact.jpg">
          <span class="border-left">&nbsp;</span>
          <span class="border-right">&nbsp;</span>
          <span class="border-bot">&nbsp;</span>
        </div>
      </div>
    </div>
    <span class="angle">&nbsp;</span>
    <span class="shadow-register">&nbsp;</span>
  </div>
</div>