
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

	<title>vivarena.com</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

</head>

<body>

	<table width="666" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;color:#000000;font-size:16px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">

		<tbody>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tr>

							<td height="28"></td>

						</tr>

						<tr>

							<td height="28">

								<a href="https://www.vivarena.com" target="_blank" style="display:block;text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/logo1.jpg" alt="vivarena.com" width="314" height="28" style="display:block;border:0;" align="left" ></a>

							</td>

						</tr>

						<tr>

							<td height="41"></td>

						</tr>

					</table>

				</td>

			</tr>

			<tr>

				<td>

					<img src="https://www.vivarena.com/img/Newsletters/banner.jpg" alt="felicidades y Bienvenido" width="666" height="200" style="display:block;" >

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td height="26"></td>

							</tr>

							<tr>

								<td width="23"></td>

								<td width="302">

									<img src="https://www.vivarena.com/img/Newsletters/img-12.jpg" alt="" width="266" height="168" style="display:block;" align="left" >

								</td>

								<td align="right" style="padding:0 4px 0 0;">

									<span style="color:#333333;font-size:16px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">Como uno de los primeros en registrarte para ser notificado sobre <span style="color:#333333;font-size:16px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;"><a href="http://www.vivarena.com" target="_blank" style="color:#333333!important;font-size:16px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;text-decoration:none;">vivarena.com</a></span>, te invitamos a ser parte del primer grupo de miembros de este innovador ecosistema global de inversionistas y emprendedores.</span>

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="4"></td>

								<td bgcolor="#032d3b">

									<table cellspacing="0" cellpadding="0">

										<tbody>

											<tr>

												<td height="5"><img src="https://www.vivarena.com/img/Newsletters/img-17.jpg" alt="" width="5" height="5" style="display:block;" ></td>

											</tr>

											<tr>

												<td>

													<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

														<tbody>

															<tr>

																<td width="5"></td>

																<td height="81" width="646" align="center" style="border-width:1px;border-color:#7b9199;border-style:solid;">

																	<span style="color:#ffffff;font-size:20px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">Regístrate y crea tu perfil hoy mismo sin costo alguno en<br> <span style="color:#ffffff;font-size:20px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;"><a href="http://www.vivarena.com" style="color:#ffffff!important;font-weight:bold;text-decoration:none;font-size:20px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">www.vivarena.com</a></span></span>

																</td>

																<td width="5"></td>

															</tr>

														</tbody>

													</table>

												</td>

											</tr>

											<tr>

												<td height="5"><img src="https://www.vivarena.com/img/Newsletters/img-17.jpg" alt="" width="5" height="5" style="display:block;" ></td>

											</tr>

										</tbody>

									</table>

								</td>

								<td width="4"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="4"></td>

								<td>

									<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

										<tbody>

											<tr>

												<td height="17"></td>

											</tr>

											<tr>

												<td>

													<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

														<tbody>

															<tr>

																<td>

																	<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

																		<tbody>

																			<tr>

																				<td width="15"></td>

																				<td height="269" width="346" align="left">

																					<span style="font-size:14px;color:#000000;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">Vivarena.com trae el poder de las redes sociales al mundo de las vivarena, permitiendole recibir y compartir información facilmente con sus amigos, colegas y expertos en el mundo de las vivarena.</span>

																				</td>

																			</tr>

																			<tr>

																				<td height="44"><img src="https://www.vivarena.com/img/Newsletters/img-16.jpg" alt="" width="15" height="44" style="display:block;" align="left" ></td>

																				<td height="44"><img src="https://www.vivarena.com/img/Newsletters/img-15.jpg" alt="" width="346" height="44" style="display:block;" align="left" ></td>

																			</tr>

																		</tbody>

																	</table>

																</td>

																<td width="298" height="313" align="right" rowspan="2"><img src="https://www.vivarena.com/img/Newsletters/img-13.jpg" alt="" width="298" height="313" style="display:block;" align="left" ></td>

															</tr>

														</tbody>

													</table>

												</td>

											</tr>

										</tbody>

									</table>

								</td>

								<td width="4"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="26"></td>

								<td><img src="https://www.vivarena.com/img/Newsletters/img-14.jpg" alt="" width="118" height="131" style="display:block;" ></td>

								<td align="right" style="padding:0 4px 0 0;">

									<span style="font-size:14px;line-height:22px;font-style:italic;word-spacing:-2px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">Contáctanos con cualquier duda, pregunta, o sugerencia. Siempre estamos a tu disposición. Igualmente apreciamos las sugerencias que nos ayuden a realizar constantes mejoras al sitio para el beneficio de todos sus miembros<br>

									<span style="font-weight:bold;color:#000000!important;font-size:14px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;"><a href="mailto:info@vivarena.com" style="font-weight:bold;color:#000000!important;text-decoration:none;font-size:14px;line-height:22px;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">info@vivarena.com</a></span></span>

								</td>

							</tr>

							<tr>

								<td height="48"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="4"></td>

								<td bgcolor="#333333" height="25" style="padding:0 4px 0 12px;">

									<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

										<tbody>

											<tr>

												<td width="601">

													<span style="color:#ffffff;font-size:11px;font-weight:bold;font-family:'Open-Sans', Arial, Helvetica, sans-serif;">&copy; Vivarena Holdings, Inc</span>

												</td>

												<td width="17">

													<a href="http://www.facebook.com/vivarena" target="_blank" style="text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/ico-04.jpg" alt="" width="14" height="14" style="display:block;border:0;" ></a>

												</td>

												<td width="17">

													<a href="http://www.twitter.com/vivarenanews" target="_blank" style="text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/ico-05.jpg" alt="" width="14" height="14" style="display:block;border:0;" ></a>

												</td>

												<td width="17">

													<a href="http://www.linkedin.com/company/vivarena-com" target="_blank" style="text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/ico-06.jpg" alt="" width="14" height="14" style="display:block;border:0;" ></a>

												</td>

											</tr>

										</tbody>

									</table>

								</td>

								<td width="4"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

		</tbody>

	</table>

</body>

</html>