<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

	<title>vivarena.com</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

</head>

<body>

	<table width="668" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;">

		<tbody>

			<tr>

				<td height="48" bgcolor="#ffffff"></td>	

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="30" height="46" bgcolor="#032d3b"></td>

								<td bgcolor="#032d3b" width="550">

									<a href="http://www.vivarena.com" target="_blank" style="text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/logo.jpg" alt="vivarena.com" width="213" height="20" style="display:block;border:0;" align="left" ></a>

								</td>

								<td bgcolor="#032d3b" width="88">

									<span style="color:#ffffff;font-size:12px;line-height:20px;font-family:Arial, Helvetica, sans-serif;"></span>

								</td>

							</tr>

							<tr>

								<td height="7"></td>

								<td height="7" valign="top"><img src="https://www.vivarena.com/img/Newsletters/shadow.jpg" alt="" width="550" height="7" style="display:block;" ></td>

								<td height="7"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td><img src="https://www.vivarena.com/img/Newsletters/img-01.jpg" alt="Felicidades y Bienvenido a Vivarena.com" width="668" height="132" style="display:block;" ></td>

							</tr>

							<tr>

								<td height="23"></td>

							</tr>

							<tr>

								<td align="center">

									<span style="color:#000000;font-size:20px;line-height:26px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Ya que has ingresado a la página, aca hay algunos datos para<br> ayudarte a obtener un mejor beneficio de tu membresía en<br> <span style="text-decoration:none;color:#000000;font-size:20px;line-height:26px;font-weight:bold;font-family:'Open Sans', Arial, Helvetica, sans-serif;"><a href="http://www.vivarena.com" target="_blank" style="text-decoration:none;color:#000000!important;font-size:20px;line-height:26px;font-weight:bold;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Vivarena.com</a></span></span>

								</td>

							</tr>

							<tr>

								<td height="34"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="47"></td>

								<td>

									<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">Nota que la página tiene 2 áreas:</span>

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff" height="7"></td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="11"></td>

								<td width="330">

									<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

										<tbody>

											<tr>

												<td>

													<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

														<tbody>

															<tr>

																<td height="50" valign="top"><img src="https://www.vivarena.com/img/Newsletters/img-02.jpg" alt="1" width="39" height="39" style="display:block;" ></td>

																<td valign="top">

																	<span style="color:#000000;font-size:24px;line-height:39px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;padding:0 0 0 9px;">Tu Registro </span>

																</td>

															</tr>

															<tr>

																<td width="37"></td>

																<td>

																	<span style="color:#333333;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;word-spacing:-2px;">Este es el centro de comando de tu perfil.  Desde tu registro puedes ver las acividades que están ocurriendo en tu red, tener acceso a tu buzón de mensajes, ver tus contactos aprobados, sugerir enlaces y conexiones importantes, participar y ver los resultados de encuestas que se estén ejecutando, y aprobar o rechazar solicitudes de otros miembros para ser parte de tu red.</span>

																</td>

															</tr>

														</tbody>

													</table>

												</td>

											</tr>

											<tr>

												<td>

													<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

														<tbody>

															<tr>

																<td height="16"></td>

																<td height="16"></td>

															</tr>

															<tr>

																<td height="50" valign="top"><img src="https://www.vivarena.com/img/Newsletters/img-04.jpg" alt="2" width="39" height="39" style="display:block;" ></td>

																<td valign="top">

																	<span style="color:#000000;font-size:24px;line-height:39px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;padding:0 0 0 9px;">Tu Perfil</span>

																</td>

															</tr>

															<tr>

																<td width="37"></td>

																<td>

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Este es el perfil que tu muestras a los demás miembros en Vivarena.com.  Acá es donde otros verán las fotos, narativas, sugerencias, enlaces y contactos que tu decidas compartir.  Recuerda, al tener un perfil más completo motivas a otros miembros a compartir contigo su información más valiosa y relevante. </span>

																</td>

															</tr>

															<tr>

																<td height="52"></td>

																<td height="52"></td>

															</tr>

														</tbody>

													</table>

												</td>

											</tr>

											<tr>

												<td>

													<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

														<tbody>

															<tr>

																<td colspan="2" height="109" valign="top"><img src="https://www.vivarena.com/img/Newsletters/img-06.jpg" alt="" width="325" height="105" style="display:block;" ></td>

															</tr>

															<tr>

																<td width="36"></td>

																<td valign="top" height="35">

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">Navega la barra de menú superior para:</span>

																</td>

															</tr>

														</tbody>

													</table>

												</td>

											</tr>

											<tr>

												<td valign="top">

													<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

														<tbody>

															<tr>

																<td width="36"></td>

																<td valign="top" width="12">

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">1</span>

																</td>

																<td>

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Buscar otros miembros que conozcas o quieras conocer</span>

																</td>

															</tr>

															<tr>

																<td width="36"></td>

																<td valign="top" width="12">

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">2</span>

																</td>

																<td>

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Acceder tu Registro</span>

																</td>

															</tr>

															<tr>

																<td width="36"></td>

																<td valign="top" width="12">

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">3</span>

																</td>

																<td>

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Ver tu Perfil</span>

																</td>

															</tr>

															<tr>

																<td width="36"></td>

																<td valign="top" width="12">

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">4</span>

																</td>

																<td>

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Editar tus datos personales y tus preferencias de privacidad</span>

																</td>

															</tr>

															<tr>

																<td width="36"></td>

																<td valign="top" width="12">

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">5</span>

																</td>

																<td>

																	<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Expandir tu base de contactos invitando a tus conexiones en Facebook, LinkedIn, y a los contactos existentes en la libreta de direcciones de tu corréo electrónico.</span>

																</td>

															</tr>

															<tr>

																<td height="22"></td>

																<td></td>

																<td></td>

															</tr>

															<tr>

																<td width="36"></td>

																<td width="12"></td>

																<td valign="top"><img src="https://www.vivarena.com/img/Newsletters/img-07.jpg" alt="" width="171" height="238" style="display:block;" ></td>

															</tr>

														</tbody>

													</table>

												</td>

											</tr>

										</tbody>

									</table>

								</td>

								<td width="15"></td>

								<td width="253" valign="top">

									<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

										<tbody>

											<tr>

												<td height="18"></td>

											</tr>

											<tr>

												<td><img src="https://www.vivarena.com/img/Newsletters/img-03.jpg" alt="" width="253" height="196" style="display:block;"  ></td>

											</tr>

											<tr>

												<td height="69"></td>

											</tr>

											<tr>

												<td><img src="https://www.vivarena.com/img/Newsletters/img-05.jpg" alt="" width="253" height="175" style="display:block;"  ></td>

											</tr>

											<tr>

												<td height="78"></td>

											</tr>

											<tr>

												<td height="7"><img src="https://www.vivarena.com/img/Newsletters/img-10.jpg" alt="" width="254" height="7" style="display:block;" ></td>

											</tr>

											<tr>

												<td height="26"></td>

											</tr>

											<tr>

												<td>

													<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;word-spacing:-2px;">En cualquier momento, puedes ver y editar tu perfil, así como también el grado de privacidad de la información que quieres compartir.  Esta es el área en la que debes ingresar los datos que quieres que otros miembros vean. </span>

												</td>

											</tr>

											<tr>

												<td height="30"></td>

											</tr>

											<tr>

												<td><img src="https://www.vivarena.com/img/Newsletters/img-08.jpg" alt="" width="253" height="173" style="display:block;" ></td>

											</tr>

											<tr>

												<td height="74"></td>

											</tr>

											<tr>

												<td>

													<span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;word-spacing:-2px;"><span style="color:#000000;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;text-decoration:none;"><a href="http://www.vivarena.com" target="_blank" style="color:#000000!important;font-size:14px;line-height:22px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;text-decoration:none;">Vivarena.com</a></span>  trae el poder de las redes sociales al mundo de las vivarena, permitiéndote recibir y compartir información facilmente con tus amigos, colegas y expertos en el mundo de las vivarena. </span>

												</td>

											</tr>

										</tbody>

									</table>

								</td>

								<td width="59"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="20"></td>

								<td width="615" height="1"><img src="https://www.vivarena.com/img/Newsletters/img-11.jpg" alt="" width="615" height="1" style="display:block;" ></td>

								<td width="33"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="20"></td>

								<td width="141"><img src="https://www.vivarena.com/img/Newsletters/img-09.jpg" alt="" width="141" height="110" style="display:block;" ></td>

								<td width="474">

									<span style="color:#000000;font-size:15px;line-height:18px;font-family:'Open Sans', Arial, Helvetica, sans-serif;word-spacing:-2px;font-style:italic;">Contáctanos con cualquier duda, pregunta, o sugerencia. Siempre estamos a tu disposición. Igualmente apreciamos las sugerencias que nos ayuden a realizar constantes mejoras al sitio para el beneficio de todos sus miembros. </span>

								</td>

								<td width="33"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="20"></td>

								<td width="615" height="1"><img src="https://www.vivarena.com/img/Newsletters/img-11.jpg" alt="" width="615" height="1" style="display:block;" ></td>

								<td width="33"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#ffffff">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="61"></td>

								<td>

									<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

										<tbody>

											<tr>

												<td height="25"></td>

											</tr>

											<tr>

												<td>

													<span style="color:#000000;font-size:14px;line-height:16px;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-weight:bold;">¡Bienvenido!</span>

												</td>

											</tr>

											<tr>

												<td>

													<span style="color:#000000;font-size:14px;line-height:16px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">Equipo <span style="color:#000000;font-size:14px;line-height:16px;font-family:'Open Sans', Arial, Helvetica, sans-serif;text-decoration:none;"><a href="http://www.vivarena.com" target="_blank" style="color:#000000!important;font-size:14px;line-height:16px;font-family:'Open Sans', Arial, Helvetica, sans-serif;text-decoration:none;">Vivarena.com.</a></span></span>

												</td>

											</tr>

											<tr>

												<td height="24"></td>

											</tr>

										</tbody>

									</table>

								</td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td bgcolor="#032d3b" height="24">

					<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">

						<tbody>

							<tr>

								<td width="17"></td>

								<td width="594">

									<span style="color:#ffffff;font-size:11px;line-height:14px;font-family:'Open Sans', Arial, Helvetica, sans-serif;">&copy; 2012 Vivarena Holdings, Inc</span>

								</td>

								<td width="15"><a href="http://www.twitter.com/vivarenanews" target="_blank" style="text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/ico-01.jpg" alt="" width="15" height="14" style="display:block;border:0;" ></a></td>

								<td width="4"></td>

								<td width="14"><a href="http://www.facebook.com/vivarena" target="_blank" style="text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/ico-02.jpg" alt="" width="14" height="14" style="display:block;border:0;" ></a></td>

								<td width="4"></td>

								<td width="14"><a href="http://www.linkedin.com/company/vivarena-com" target="_blank" style="text-decoration:none;"><img src="https://www.vivarena.com/img/Newsletters/ico-03.jpg" alt="" width="14" height="14" style="display:block;border:0;" ></a></td>

								<td width="6"></td>

							</tr>

						</tbody>

					</table>

				</td>

			</tr>

			<tr>

				<td  bgcolor="#ffffff" height="56" valign="top"><img src="https://www.vivarena.com/img/Newsletters/shadow-2.jpg" alt="" width="668" height="17" style="display:block;" ></td>

			</tr>

		</tbody>

	</table>

</body>

</html>