<div class="right_sidebar clearfix">
        <div class="right_sidebar__banner">
            <a href="#"> <img src="/img/demo/nike.jpg" alt=""></a>
        </div>
        <div class="photo-block">
            <h3>My Photo <span>(4)</span></h3>

            <div class="photo-block__middle clearfix">
                <div class="photo-block__middle__img clearfix">
                    <a href="#"><img src="/img/demo/ava-news.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-news.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-news.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-news.jpg" alt=""></a>
                </div>
                <a href="#" class="more">See More</a>
            </div>
        </div>
        <div class="photo-block">
            <h3>My Video <span>(4)</span></h3>

            <div class="photo-block__middle clearfix">
                <div class="photo-block__middle__img clearfix">
                    <a href="#"><img src="/img/demo/a1.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/a2.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/a3.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/a4.jpg" alt=""></a>
                </div>
                <a href="#" class="more">See More</a>
            </div>
        </div>
        <div class="photo-block">
            <h3>Activity</h3>

            <div class="photo-block__middle clearfix">
                <div class="photo-block__middle__img clearfix">
                    <div class="activity__img">
                        <img src="/img/demo/man.jpg" alt="">
                    </div>
                    <div class="activity__text">
                        <p>Viktoria became friends with <a href="#">Audrey de Myrhline</a>. </p>
                        <span>8 minutes ago</span>
                    </div>
                </div>
                <a href="#" class="more">See More</a>
            </div>
        </div>
        <div class="photo-block">
            <h3>Friends <span>(88)</span></h3>

            <div class="photo-block__middle clearfix">
                <div class="photo-block__middle__img clearfix">
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>
                    <a href="#"><img src="/img/demo/ava-friends.jpg" alt=""></a>

                </div>
                <a href="#" class="more">See More</a>
            </div>
        </div>
    </div>